---
import '../styles/global.css';
import Layout from "../layouts/Layout.astro";
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "My Astro Learning Blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Layout pageTitle="Blog">
    <h1>{pageTitle}</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        {allPosts.map((post: any) => <BlogPost title={post.frontmatter.title} url={post.url} />)}
    </ul>
</Layout>