---
import Menu from "./Menu.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <a href="/">
        <img src="../../src/assets/astro.svg" alt="Astro">
    </a>

    <Navigation />

    <Menu />
</header>

<style>
    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #ccc;
    }
</style>